
<div class="row">
  <div class="col s8 offset-s2">
    <h2 class="center">Global projects</h2>

    <ul class="collection">
      <% @projects.each do |project| %>
        <li class="collection-item avatar">
          <span class="title">
            <strong><%= link_to project.name, project_path(project) %></strong>
          </span>
          <p>
            Polls: <%= project.polls.count %><br>

            <%= project.description %>
          </p>
          <% if is_owner?(project) %>
            <a href= <%= user_project_path(project)%> class="secondary-content valign-wrapper valign">
              owned
              <i class="material-icons">settings</i>
            </a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<br>

