<% set_source_decorator %>
<h2 class="center">Editing <%= @project.project_source.name %> source</h2>

<%= render 'form' %>

<br>
<%= link_to '<< Back',  user_project_mocked_source_path(@project), :class => 'waves-effect waves-light btn' %>

