<h2 class="center">New Project</h2>
<h5>Project configuration</h5>
<%= render 'form', action: 'create' %>

<br><br>
<%= link_to '<< Back', user_projects_path, :class => 'waves-effect waves-light btn' %>
