<h2 class="center">Select project type</h2>



  <div class="divider"></div>
  <div class="section center">
    <h5>Mocked</h5>
      <%= link_to 'create',   new_user_project_mocked_source_path(@project), :class => 'waves-effect waves-light btn-large'  %> 

  </div>
  <div class="divider"></div>
  <div class="section center">
    <h5>Github</h5>
      <%= link_to 'create',   new_user_project_github_source_path(@project), :class => 'waves-effect waves-light btn-large'  %> 
   
  </div>



        

