<h2 class="center">Select project type</h2>



  <div class="divider"></div>
  <div class="section center">
    <h5>Mocked</h5>
      <%= link_to 'create',  new_my_project_mocked_source_path(@my_project), :class => 'waves-effect waves-light btn-large'  %> 
  </div>
  <div class="divider"></div>
  <div class="section center">
    <h5>Github</h5>
    			<a class="waves-effect waves-light btn-large">
						create
					</a>
  </div>



        

