<h2 class="center">Select project type</h2>



  <div class="divider"></div>
  <div class="section center">
    <h5>Mocked</h5>
    			<a class="waves-effect waves-light btn-large" href="/projects/mocked/new">
						create
					</a>
  </div>
  <div class="divider"></div>
  <div class="section center">
    <h5>Github</h5>
    			<a class="waves-effect waves-light btn-large">
						create
					</a>
  </div>



        

