<h2 class="center">Edit Poll</h2>

<%= render 'form', action: 'update' %>

<br><br>
<%= link_to '<< Back', user_project_poll_path( @poll.project, @poll ) , :class => 'waves-effect waves-light btn' %>
