
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>


<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<br>
<%= link_to 'Edit', edit_my_project_path(@project) %> |
<%= link_to 'Back', my_projects_path %>
