<h2 class="center">Editing <%= source_name(@project.project_source) %> source</h2>

<%= render "application/form_errors", target: @project.project_source %>

<%= render 'form' %>

<br>
<%= link_to '<< Back',  polymorphic_path([:user, @project, @project.project_source]), :class => 'waves-effect waves-light btn' %>

