<%= form_for @project.project_source, url: user_project_mocked_source_path(@project) do |f| %>

	<div class="field">
		<%= f.label :url %><br>
		<%= f.text_field :url %>
	</div>
<br>
	
	<button class="btn waves-effect waves-light" type="submit" name="action"><%= f.submit %>
		<i class="material-icons right">send</i>
	</button>

<% end %>
