@import "materialize/components/color";
$primary-color: 	color("brown", "darken-1") !default;
$secondary-color: 	color("brown", "darken-1") !default;

@import "materialize";

#nav_bar_logo {
	width: 20%;
	padding-top: 6px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
    
