<nav>
  <div class="nav-wrapper brown darken-1">
    <a href="#" class="brand-logo center">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/projects">Projects</a></li>
    </ul>
  </div>
</nav>