<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center valign-wrapper">
    	<img class="responsive-img " src="/icono.png" id="nav_bar_logo">
    </a>

    <ul id="nav-mobile" class="left ">
      <li><a href="/projects">projects</a></li>
      <li><a href="/user/projects">my projects</a></li>
    </ul>

    <ul id="nav-mobile" class="right ">
      <li><a href="/rails/info/routes" target="_blank">rake routes</a></li>
      <li><a href="http://materializecss.com/buttons.html" target="_blank">materialize css</a></li>
    </ul>
  </div>
</nav>