<nav>
  <div class="nav-wrapper brown darken-1">
    <a href="/" class="brand-logo center valign-wrapper">
    	<img class="responsive-img " src="/icono.png" id="nav_bar_logo">
    </a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/my_projects">my projects</a></li>
      <li><a href="/projects">projects</a></li>

      <li><a href="/rails/info/routes">rake routes</a></li>

      
    </ul>
  </div>
</nav>