<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center valign-wrapper">
    	<img class="responsive-img " src="/icono.png" id="nav_bar_logo">
    </a>

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/my_projects">my projects</a></li>
      <li><a href="/projects">projects</a></li>
    </ul>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/rails/info/routes">rake routes</a></li>
      <li><a href="http://materializecss.com/buttons.html">materialize css</a></li>
    </ul>
  </div>
</nav>